
Debug/
Release/
bin/
obj/
*.elf
*.hex
*.bin
*.map
*.list


.metadata/
RemoteSystemsTempFiles/
.crprojects/
*.bak
*.d
*.o
*.su


*.launch
.settings/language.settings.xml
.settings/org.eclipse.cdt.codan.core.prefs


MDK-ARM/*.bak
MDK-ARM/*.dep
MDK-ARM/RTE/
MDK-ARM/*.txt
MDK-ARM/*/__vm/
MDK-ARM/*.uvguix.*
MDK-ARM/*.uv2.bak


EWARM/*.dep
EWARM/*.ewd.bak
EWARM/*.ewp.bak
EWARM/settings/